@charset "utf-8";
/* CSS Document 5/20 8:48*/

/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,300,100); /* 400 available*/

/* mobile first */

/* HTML TAGS */
html, body{
	height: 100%;
	width: 100%;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
  overflow: hidden;
  
}

html, body, h1, p, ul{
	margin: 0;
	padding: 0;
	font-family: brandon_grotesque;

}


/******************/
/***   Layout   ***/
/******************/

#menu_container{
  float: left;
  width: 15em; /* just set body font-size */
  height: 100%;
  -webkit-transition: width 1.5s cubic-bezier(.8,0.01,.8,0.01); 
  box-sizing: border-box; 

}

#content_container{
  background: pink;
  margin-left: 15em;
  height: 100%;
  -webkit-transition: margin-left 1.5s cubic-bezier(.8,0.01,.8,0.01); 
  /* this needs to be added to other things */

}

#menu_container:hover{
  width: 35em;
  -webkit-transition: width .2s; 
  padding-top: 0;
}

#menu_container:hover + #content_container{
  margin-left: 35em;
  -webkit-transition: margin-left .2s; 

}


#projects_container{
  height: 90%;
  box-sizing: border-box;
  overflow-y: auto;  
  overflow-x: hidden;
  

}


#p_iframe{
  width: 100%;
  height: 100%;
}

#menu{
  width: 100%;
  height: 10%;
}

.project{
  position: relative;
  width: 100%;
  height: 2em;
  line-height: 2em;

  font-size: 2em;
  font-weight: 500;

  -webkit-transition:  1.5s cubic-bezier(.8,0.01,.8,0.01);

}

#menu_container:hover .project{
  font-size: 4em;
  height: 4em;
  line-height: 4em;
  color: white;
  
  -webkit-transition: .2s;

}


.p_img{
  width: 0%;
  height: 100%;
  -webkit-transition-delay: 1.5s; 

}

#menu_container:hover .p_img{
  width: 100%;
  height: 100%;
  -webkit-transition-delay: 0;
  
}


.p_text{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; /* and vertical*/
}


.landing{
  background: LightGrey;
  color: white;
}

.halftone{
  background: red;
  color: blue;
}

.mckinnons{

}

.poster{

}

.drawing{

}

@media (max-aspect-ratio: 4/3) {


}
