/* probably should remove vh units and stuff but they work so well.*/
@charset "utf-8";

html, body{
	height: 100%;
	width: 100%;
    background: white;d
}

#header{
    position: fixed;
    background: white;
    color: #a071a8;
    color: #464646;
    font-size: 200%;
    line-height: 50px;
    width: 500px;
     left: 0;
     right: 0;
     margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 50px;
    top: 0;
    text-align: right;
    z-index: 1;
    display: table;
    transition: .7s;
    transition-delay: .4s;
}

#header page{
    font-style: italic;
    float: left;   
}
#tyler{
    font-weight: 100;
}
#chen{
    font-weight: 700;
}


#contentContainer{
    width: 500px;
    margin: 50px auto;
}

html, body, h1, p, ul{
	margin: 0;
	padding: 0;
	font-family: brandon_grotesque;
    color: #a071a8;
    color: #464646;
    font-weight: 400;
}

h1{
    font-style: italic;   
}

a{
    text-decoration: underline;
    color: inherit;
}

#contactContainer{
    width: 100%;
    text-align: center;
    margin-bottom: -4px;
    padding-bottom: 10px;
        display: inline-block;

}


/******************/
/***   Layout   ***/
/******************/


img{
    width: 100%;
    padding: 1em 0;
}

img.bigpad{
    padding: 3em 0;
}

img.nopad{
    padding: 0em;   
}
/* why is this not working??? */
.description{
    float: right;
    position: relative;
    font-size: 60%;
}

@media (min-width: 700px){
    #cover.expanded{
    position: fixed;
    top: 0;  
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 2;
}

img.large {
    position: absolute;
    width: 80%;
    top: ;
    left: 10%;
    z-index: 2;
}
}

@media (min-width: 1200px){
 #header{
     width: 800px;
 }
 #contentContainer{
    width: 800px;
    margin: 60px auto;
    font-size: 115%;
 }  
}

@media (max-width: 600px) {
    #header{
     width: 98%;
     padding: 0 2% 0 2%;   
    }
    #contentContainer{
        width: 96%;
        padding: 3% 2% 0 2%;
    }

}