.item > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item > div:after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1.2s;
}

.item > div:hover:after, .item > .focus:after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    background-color: white;
}


#self > div{
    background-image: url(../projects/aap/selfIcon_dim.jpg);
    background-position: center top;
}

#bird > div{    
    background-image: url(../projects/bird/icon_dim.jpg);
    background-position: 15% 65%;
}


#drawing > div{    
    background-image: url(../projects/drawing/icon_dim.jpg);
}


#vox > div{
    background-image: url(../projects/tuftsVOX/icon_dim.png);
}

#closet > div{
    background-image: url(../projects/closet/icon_dim.jpg);
}

#name > div{
    background-image: url(../projects/aap/nameIcon_dim.jpg);
    background-position: 0% 40%;
}

#posters > div{
    background-image: url(../projects/posters/icon_dim.png);
    background-position: 50% 80%;
}


#spreads > div{
    background-image: url(../projects/spreads/icon_dim.jpg);
}

#mck > div{
    background-image: url(../projects/McKinnons/icon_dim.jpg);
}

#mockingbird > div{
    background-image: url(../projects/mockingbird/icon_dim.png);
    background-position: center;
}

#halftone > div{
    background-image: url(../projects/halftone/icon_dim.jpg);
    background-color: #b2b2b2;
}

#glitch > div{
    background-image: url(../projects/glitch/icon_dim.jpg);
}

#asia_glitch > div{
    background-image: url(../projects/asia_glitch/icon_dim.jpg);
}

#lighting > div{
    background-image: url(../projects/lighting/icon_dim.jpg);
}


/* BRIGHT */

#self > div:after, #self > div.focus:after{
    background-image: url(../projects/aap/selfIcon.jpg);
    background-position: center top;
}

#bird > div:after, #bird > div.focus:after{
    background-image: url(../projects/bird/icon.jpg);
    background-position: 15% 65%;
}

#drawing > div:after, #drawing > div.focus:after{    
    background-image: url(../projects/drawing/icon.jpg);
}

#vox > div:after, #vox > div.focus:after{
    background-image: url(../projects/tuftsVOX/icon.png);
}

#closet > div:after, #casio > div.focus:after{
    background-image: url(../projects/closet/icon.jpg);
}

#name > div:after, #name > div.focus:after{
    background-image: url(../projects/aap/nameIcon.jpg);
    background-position: 0% 40%;
}

#posters > div:after, #posters > div.focus:after{
    background-image: url(../projects/posters/icon.png);
    background-position: 50% 80%;
} 

#spreads > div:after, #spreads > div.focus:after{
    background-image: url(../projects/spreads/icon.jpg);
} 

#mck > div:after, #mck > div.focus:after{
    background-image: url(../projects/McKinnons/icon.jpg);
}

#mockingbird > div:after, #mockingbird > div.focus:after{
    background-image: url(../projects/mockingbird/icon.png);
}

#halftone > div:after, #halftone > div.focus:after{
    background-image: url(../projects/halftone/icon.jpg);
    background-position: center;
    background-color: white;
}

#glitch > div:after, #glitch > div.focus:after{
    background-image: url(../projects/glitch/icon.jpg);
    background-color: white;
}

#asia_glitch > div:after, #asia_glitch > div.focus:after{
    background-image: url(../projects/asia_glitch/icon.jpg);
    background-color: white;
}

#lighting > div:after, #lighting > div.focus:after{
    background-image: url(../projects/lighting/icon.jpg);
    background-color: white;
}
