/***** HALFTONE *****/
#halftone > .p_img{
  background-image: url(../projects/halftone/icon_dim.png);
  background-size: cover; 
}

#halftone:hover{
  color: black !important;
}

#halftone:hover > .p_img{
  background-image: url(../projects/halftone/icon.png);
  background-size: cover; 
}

/***** McKinnon's *****/
#mckinnons > .p_img{
  background-image: url(../projects/mckinnons/ikon_dim.png);
  background-size: cover; 
}

#menu_container:hover  #mckinnons{
  color: rgba(0,0,0,0) !important;
}

#mckinnons:hover > .p_img{
  background-image: url(../projects/mckinnons/ikon.png);
  background-size: cover; 
}

/***** posters *****/
#poster > .p_img{
  background-image: url(../projects/posters/icon_dim.png);
  background-size: cover; 
}

#poster:hover{
  color: #FCE435 !important;
}

#poster:hover > .p_img{
  background-image: url(../projects/posters/icon.png);
  background-size: cover; 
}

/***** BIRD *****/
#drawing > .p_img{
  background-image: url(../projects/bird/icon_dim.png);
  background-size: cover; 
}

#drawing:hover{
  color: black !important;
}

#drawing:hover > .p_img{
  background-image: url(../projects/bird/icon.png);
  background-size: cover; 
}